
h1, h2, p, h4, table{
    padding: 5px;
    margin:auto;
    color:black;
    border-width: 5px;
    display: grid;
    place-content: center;
}
span {
    padding: 5px;
    margin:auto;
    border-width: 5px;
    border-style: solid;
    border-color:midnightblue
}
h4 {
    width: 100%;
}
p {
    padding: 5px;
    margin:40px;
    border-width: 5px;
}
.box {
    background-image: url(img/computer.jpeg);
    padding: 800px 100px;
    margin: 50px;
    background-repeat: no-repeat;
    background-position:top;
    background-color:skyblue;
}
table, th, tr {
    border: 1px solid black;
}